{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% load filtro_template %}
{% block sub_titulo %}Laboratorio{% endblock %}
{% block proceso %}Laboratorio{% endblock %}
{% block container %}
	<form method='post' action='' class='form-horizontal'>{% csrf_token %}
		<fieldset>
			<div class="control-group">
				<div class="controls">
					{{formrl|as_bootstrap}}
					<input class='btn btn-large' type='button' value='Cancelar'>
					<input class="btn btn-large btn-primary span4" type='submit' value='Ingresar'>
				</div>
            </div>
		</fieldset>
	</form>
{% endblock %}
{% block js %}
<script type="text/javascript" src='/static/js/script_laboratorio.js'></script>
{% endblock %}
